.container {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-column-gap: 0px;
    grid-template-rows: 270px 220px 270px;
    grid-row-gap: 0px;
    background-color: coral;
    margin: auto auto;

}

div {
    background: white;
    padding: 10px;
    margin: 10px;
}

.one {
    grid-column-start: 1;
    grid-column-end: 5;
  

}

.two {
    grid-column-start: 5;
    grid-column-end: 9;

}

.three {
    grid-column-start: 1;
    grid-column-end: 4;
     
}

.four {
    grid-column-start: 4;
    grid-column-end: 6;



}
.five {
    grid-column-start: 6;
    grid-column-end: 9; 
}

.six {
    grid-column-start: 1;
    grid-column-end: 5;
}

.seven {
    grid-column-start: 5;
    grid-column-end: 9;
}
